body{
    background-color: #fff;
    margin: 0;
    font-family: "Verdana"
}

.container{
    width: 100%;
    margin: 0 auto;
}

.login{
    float: right;
    margin-right: 20;
    padding-top: 5px;
}

.login li{
    font-size: 14;
    list-style: none;
}

.login li a{
    font-family: "Verdana";
    text-decoration: none;
    color: black;
    
}

.login li a:hover{
    color: lightblue;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0 49px;
    padding-top: 40px;
}

nav ul li a{
    color: darkslategrey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul li a:hover{
    color: lightblue;
}

.logo{
    float: left;
    height: 100px;
}

#background img{
    height: 439; 
}

#background{
    font-family: "Verdana";
    
}
.background {
    position: relative;
    text-align: center;
    color: white;
}

.form input {
    font-family: "Verdana";
    box-sizing: border-box;
    font-size: 16px
}

.Oprettext {
    font-family: "Verdana";
    position: absolute;
    top: 36.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18;
}

#fornavn {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#efternavn {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#email {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#adgangskode {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gentagadgangskode {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Create {
    position: absolute;
    top: 75.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15
}

#tilbagetilforside {
    text-decoration: none;
    position: absolute;
    top: 96%;
    left: 90%;
    font-size: 13px;
    color: white;
}

#galleritext p{
    font-size: 20;
    font-family: "Verdana";
    float: inherit;
}

#Galleri img{
    height: 70;
    margin: 5.2;
    object-fit: cover;
    width: 91px;
}

footer{
    background-color: lightgray;
    font-family: "Verdana";
    font-size: 12;
}

footer ul{
    list-style: none;
    margin: 0 10;
    padding: 5;
}

footer ul li{
    margin: 7 0;
}

footer ul li a{
    color: aliceblue;
    text-decoration: none;
}